<div class="screen">
    <div class="content">
        <div class="title">
            <span style="color: black;">Наши клиенты </span><span style="color: blue;">агрегаторы</span>
        </div>
        <div class="blocks">
            <div class="client-1"></div>
            <div class="client-2"></div>
            <div class="client-3"></div>
            <div class="client-4"></div>
            <div class="client-5"></div>
            <div class="client-6"></div>
        </div>
    </div>
</div>