
@media (max-width: 1439px) {
    #service() {
        width: 86px;
        height: 67.76px;
        background-size: contain;
        background-repeat: no-repeat;
        background-position: top left;
        margin-right: 5px;
        margin-bottom: 5px;}
    .carWashing {
        background-image: url(../../../assets/images/services/carWashing.png);
        #service();}
    .parking {
        background-image: url(../../../assets/images/services/parking.png);
        #service();}
    .hotel {
        background-image: url(../../../assets/images/services/hotel.png);
        #service();}
    .cafe {
        background-image: url(../../../assets/images/services/cafe.png);
        #service();}
    .shower {
        background-image: url(../../../assets/images/services/shower.png);
        #service();}
    .laundry {
        background-image: url(../../../assets/images/services/laundry.png);
        #service();}
    .minimarket {
        background-image: url(../../../assets/images/services/minimarket.png);
        #service();}
    .tireService {
        background-image: url(../../../assets/images/services/tireService.png);
        #service();}
    .sauna {
        background-image: url(../../../assets/images/services/sauna.png);
        #service();}
    .desinfection {
        background-image: url(../../../assets/images/services/desinfection.png);
        #service();}

    .container {
        width: 300px;
        height: 80vh;
        background-size: contain;
        background-position: top left;
        background-repeat: no-repeat;
        background-color: #F5F6FB;}
    .close-btn {
        color: #FE7777;
        background-color: rgba(255,255,255,0.5);
        width: 32px;
        height: 32px;
        display: flex;
        align-items: center;
        justify-content: center;
        cursor: pointer;}

    .description-block {
        background-color: #F5F6FB;
        padding: 16px;}
    .small {
        color: #0D2B4C;
        font-size: 14px;
        font-weight: 400;
        line-height: 13px;}
    .name {
        color: #FF4500;
        font-size: 22px;
        font-weight: 700;
        line-height: 30px;}
    .comment {
        color: #ADADAD;
        font-size: 14px;}
    .city {
        color: #0D2B4C;
        font-size: 18px;
        font-weight: 400;
        line-height: 17px;
        margin-left: 5px;}

    .row {
        display: flex;
        flex-direction: row;}
    .button-panorama {
        background-image: url(../../../assets/images/svg-elems/button_panorama.svg);
        background-size: contain;
        width: 34px;
        height: 34px;
        cursor: pointer;
        margin-top: 16px;
        margin-right: 8px;}
    .button-map {
        background-image: url(../../../assets/images/svg-elems/button_map.svg);
        background-size: contain;
        width: 34px;
        height: 34px;
        cursor: pointer;
        margin-top: 16px;}

    .white-block {
        background-color: white;
        padding: 16px 11px 16px 16px;}
    .subtitle {
        color: #0D2B4C;
        font-size: 16px;
        font-weight: 400;
        line-height: 15px;
        margin-bottom: 14px;}
    .subtitle-2{
        margin-top: 18px;}
    .basicServices-group {
        display: flex;
        flex-wrap: wrap;}
    .additive {
        width: 100%;
        font-size: 15px;
        font-weight: 400;
        line-height: 18px;
        color: #6D8093;
        display: flex;
        flex-direction: row;
        padding-bottom: 10px;}
    .additiveService-name {
        width: 100%;}
    .check {
        color: #6DC200;
        width: 18px;
        height: 18px;
        font-size: 16px;}
    .monitor {
        display: none;
    }
}