@media (min-width: 800px) {
    .pc-v {
        display: initial;
    }
    .mob-v {
        display: none;
    }
}
@media (max-width: 799px) {
    .pc-v {
        display: none;
    }
    .mob-v {
        display: initial;
    }
}