<div class="screen do1439px">
    <div class="content">
        <div class="title-text">
            <div class="title">
                <span style="color: #0045E6;">Социальная</span>
                <br>
                <span>программа</span>
            </div>
            <div class="text">
                <p>
                    Уже <b>10 лет</b> наша команда делает все возможное, чтобы водители в России чувствовали себя в дороге максимально
                    комфортно и безопасно.
                </p>
                <p>
                    С <b>2019</b> года мы покупаем и строим новые придорожные комплексы, расширяем их сеть по России, и за <b>4</b> года ее протяженность составила от Краснодара до Новосибирска.
                </p>
                <p>
                    С первых дней нами было принято решение о запуске социальной программы для водителей-дальнобойщиков.
                </p>
                <p>
                    Мы знаем, насколько трудна и важна эта профессия, поэтому все наши комплексы соответствуют потребностям водителей в дороге.
                </p>
                <p>
                    Итак!
                </p>
                <p>
                    При каждом заезде на любую из наших стоянок, водитель <b>совершенно бесплатно</b> получает:
                </p>
                <ul *ngFor="let li of list">
                    <li>{{li}}</li>
                </ul>
            </div>
        </div>
        <div class="photo-block">
            <div class="exterior"></div>
        </div>
        <div class="photo-block">
            <div class="canteen">
                <div class="strip">
                    <p>Смотрите видео о ПК</p>
                </div>
                <div class="play">
                    <div class="playBtn"></div>
                </div>
            </div>
        </div>
        <div class="photo-block">
            <div style="width: 343px;">
                <div class="bathroom">
                    <div class="bathroom-1"></div>
                    <div class="bathroom-2"></div>
                </div>
                <div class="pk-inside">
                    <p>ПК внутри</p><div class="arrow-right"></div>
                </div>
            </div>
        </div>
    </div>
</div>

<div class="screen c1440px">
    <div class="content">

        <div class="blockL">
            <div class="title-text">
                <div class="title">
                    <span style="color: #0045E6;">Социальная</span>
                    <br>
                    <span>программа</span>
                </div>
                <div class="text">
                    <p>
                        Уже <b>10 лет</b> наша команда делает все возможное, чтобы водители в России чувствовали себя в дороге максимально
                        комфортно и безопасно.
                    </p>
                    <p>
                        С <b>2019</b> года мы покупаем и строим новые придорожные комплексы, расширяем их сеть по России, и за <b>4</b> года ее протяженность составила от Краснодара до Новосибирска.
                    </p>
                    <p>
                        С первых дней нами было принято решение о запуске социальной программы для водителей-дальнобойщиков.
                    </p>
                    <p>
                        Мы знаем, насколько трудна и важна эта профессия, поэтому все наши комплексы соответствуют потребностям водителей в дороге.
                    </p>
                    <p>
                        Итак!
                    </p>
                    <p>
                        При каждом заезде на любую из наших стоянок, водитель <b>совершенно бесплатно</b> получает:
                    </p>
                    <ul *ngFor="let li of list">
                        <li>{{li}}</li>
                    </ul>
                </div>
            </div>
            <div class="interior">
                <div class="canteen">
                    <div class="strip">
                        <p>Смотрите видео о ПК</p>
                    </div>
                </div>
                <div class="minimarket">
                    <div class="play">
                        <div class="playBtn"></div>
                    </div>
                </div>
            </div>
        </div>

        <div class="blockR">
            <div class="exterior"></div>
                <div class="bathroom">
                    <div class="bathroom-1"></div>
                    <div class="bathroom-2"></div>
                </div>
                <div class="pk-inside">
                    <p>ПК внутри</p><div class="arrow-right"></div>
                </div>

        </div>

    </div>
</div>