<div class="line">
    <div class="content">
        <a href="#main"><div class="logo"></div></a>
        <div class="headings">
            <div class="menu-heading"><a id="our-pk-comp" href="#our-pk">Наши ПК</a></div>
            <div class="menu-heading"><a id="soc-prog-comp" href="#soc-prog">Социальная программа</a></div>
            <div class="menu-heading"><a id="geography-comp" href="#geography">География</a></div>
            <div class="menu-heading"><a id="contacts-comp" href="#contacts">Контакты</a></div>
        </div>
    </div>
</div>