/* You can add global styles to this file, and also import other style files */
@import 'normalize.css';

* {
    font-family: "Gilroy";
    scroll-behavior: smooth;
}
html, body { height: 100%; }
body { margin: 0; font-family: Roboto, "Helvetica Neue", sans-serif; }

/* убирает полосу прокрутки (только для Google Chrome) */
/* ::-webkit-scrollbar {display: none;} */

/* // Manipulate initial background color */
.mdc-text-field--filled:not(.mdc-text-field--disabled) {
  background-color: #1F1F1F !important;
}

.mdc-text-field--filled .mdc-line-ripple::before {
    border-bottom-color: white !important;
}

.mdc-text-field--filled.mdc-text-field--invalid:not(.mdc-text-field--disabled) .mdc-line-ripple::before {
    border-bottom-color: var(--mat-form-field-error-text-color) !important;
}

html {
  --mdc-filled-text-field-input-text-placeholder-color: rgb(255, 255, 255, 1);
}

.mdc-text-field--filled:not(.mdc-text-field--disabled) .mdc-text-field__input {
    color: white !important;
}

/* // Manipulate background color on hover and focus */
.mat-mdc-form-field-focus-overlay {
  background-color: transparent !important;
}
